@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    --primary-color: #27496d;
    --secondary-color: #f9f9f9;
    --text-color: #333333;
    --hover-color: #f9f9f9;
    --hover-bg-color: #6b9fcf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: #333333;
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

h3{
    color: #333333;
    font-size: 40px;
}
body {
    font-family: 'Kanit',sans-serif;
    background-color:whitesmoke;
    color: whitesmoke;
}

header, footer {
    max-width: 100%;
    margin: 1rem auto;
    padding: 20px;
    background-color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer, main {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 0;
    text-align: left;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    color: var(--secondary-color);
}

.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
}

.navigation.show {
    display: flex;
}

.navigation li {
    display: block;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    font-size: clamp(var(--font-size-small), 2vmin, var(--font-size-large));
    transition: 0.3s;
    border-radius: 5px;
}

.navigation a:hover, .navigation a:active {
    color: var(--hover-color);
    background-color: var(--hover-bg-color);
}

@media (min-width: 768px) {
    #hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        background: none;
        padding: 0;
    }

    .navigation a {
        color: var(--hover-color);
        padding: 0.5rem 1rem;
    }

    .navigation a:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    margin: 20px;
}

figcaption {
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
}

figure img {
    width: 100%;
    height: auto;
}

.res-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}

.temple-card {
    background-color: rgba(255, 255, 255, 0.8); /* Transparent Box */
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.temple-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2; /* Maintain aspect ratio */
}

.label {
    font-weight: bold;
}
.temple-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
