body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8B2635;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

main {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background: #D2D4C8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 15px;
    font-weight: bold;
}

select, input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

fieldset {
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

legend {
    font-weight: bold;
}

.btn-submit {
    background-color: #8B2635;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    text-transform: uppercase;
}

.btn-submit:hover {
    background-color: #8B2635;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #777;
}
.rating-fieldset {
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.rating-options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.rating-options label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.rating-options input {
    margin-right: 5px;
}
footer{
    background-color: #8B2635;
    color: wheat;
}