@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

:root {
    --primary-color: #4a6fa1;
    --secondary-color: #f9f9f9;
    --text-color: black;
    --hover-color: white;
    --font-family: 'Poetsen', sans-serif;
    --font-size-small: 1rem;
    --font-size-large: 1.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--text-color);
}

header, footer {
    max-width: 100%;
    margin: 1rem auto;
    padding: 20px;
    background-color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer, main {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 0;
    text-align: left;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#hamburger {
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    color: var(--secondary-color);
}

.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
}

.navigation.show {
    display: flex;
}

.navigation li {
    display: block;
}

.navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    font-size: clamp(var(--font-size-small), 2vmin, var(--font-size-large));
    transition: 0.3s;
    border-radius: 5px;
}

.navigation a:hover, .navigation a:active {
    color: var(--hover-color);
    background-color: black;
}

@media (min-width: 768px) {
    #hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        background: none;
        padding: 0;
    }

    .navigation a {
        color: var(--hover-color);
        padding: 0.5rem 1rem;
    }

    .navigation a:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    margin: 20px;
}

figcaption {
    background-color: var(--secondary-color);
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
}

figure img {
    width: 100%;
    height: auto;
}
